/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 Reset */ 

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}


	/* End of Reset */

body {
	background-color: #003;
	margin: 0px;
	max-width: 1980px;
}

container {
	position: absolute;
	margin: auto;
	width: 100%;
	height: 1px;
	overflow: visible;
	display: block;
	top: 50%;
	left: 0px;
	background-color: #003;
}

card{
	font-family: Arial, Verdana, Geneva, sans-serif;
	background-color: #fff;
	margin-left: -47.5vw;
	position: absolute;
	top: -29.36vw;
	left: 50%;
	width: 95vw;
	height: 58vw;
	visibility: visible;
	}

card p {
	visibility: visible;
	left: 3vw;
	font-size: 2vw;
}

card img {
}

#first, #second, #third, #fourth {
	position: absolute;
}



#first{
	position: absolute;
	top: 32vw;
}

#second {
	position: absolute;
	top: 35vw;
}

#third{
	position: absolute;
	top: 38vw;
}

#fourth a {
	position: absolute;
	top: 41vw;
	text-decoration: none;
	color: black;
}

.Logo{
	position: relative;
	top: 0px;
	clear: both;
	width:50vw;
	overflow: visible;
	visibility: ;
}

#Cad1 {
	height: 24vw;
	position: absolute;
	top: 2vw;
	left: 56.5vw;
	z-index: 5;
}

#Cad2 {
	height: 24vw;
	position: absolute;
	top: 16.5vw;
	left: 41vw;
	z-index: 5;
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
}

#Cad3 {
	height: 24vw;
	position: absolute;
	top: 17.5vw;
	left: 71vw;
	z-index: 5;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}

#Cad4 {
	height: 24vw;
	position: absolute;
	top: 32vw;
	left: 55.5vw;
	z-index: 5;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
}

#Cad5 {
	height: 24vw;
	position: absolute;
	top: 6vw;
	left: 46vw;
	z-index: 5;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); /* IE 9 */
	-webkit-transform:rotate(-45deg); /* Opera, Chrome, and Safari */
}

#Cad6 {
	height: 24vw;
	position: absolute;
	top: 27.5vw;
	left: 45vw;
	z-index: 5;
	transform:rotate(-135deg);
	-ms-transform:rotate(-135deg); /* IE 9 */
	-webkit-transform:rotate(-135deg); /* Opera, Chrome, and Safari */
}

#Cad7 {
	height: 24vw;
	position: absolute;
	top: 6.5vw;
	left: 67vw;
	z-index: 5;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); /* IE 9 */
	-webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}

#Cad8 {
	height: 24vw;
	position: absolute;
	top: 28vw;
	left: 66.5vw;
	z-index: 5;
	transform:rotate(135deg);
	-ms-transform:rotate(135deg); /* IE 9 */
	-webkit-transform:rotate(135deg); /* Opera, Chrome, and Safari */
}

#Cad9 {
	height: 4.5vw;
	position: absolute;
	top: 27vw;
	left: 64.2vw;
	z-index: 6;
}

#companyName {
	color: #8e4600;
	font-size: 4vw;
	position: absolute;
	top: 3vw;
	left: 3vw;
	z-index: 2;
	font-weight: 400;
}

#consultantName{
	color: #8e4600;
	font-size: 3vw;
	position: absolute;
	top: 12vw;
	left: 3vw;
	z-index: 2
}

#consultantTitle{
	color: black;
	font-size: 2vw;
	position: absolute;
	top: 16vw;
	left: 3vw;
	z-index: 2;
	font-weight: bold;
}


.Circle1 {
	position: absolute;
	top: 0vw;
	left: 37vw;
	height: 58vw;
	width: 58vw;
	border-radius: 58vw 58vw 58vw 58vw;
	-moz-border-radius: 58vw 58vw 58vw 58vw;
	-webkit-border-radius: 58vw 58vw 58vw 58vw;
	background: #8e4600;
	z-index: 2;
	visibility: ;
}

.Circle2 {
	position: absolute;
	top: 1vw;
	left: 38vw;
	height: 56vw;
	width: 56vw;
	border-radius: 56vw 56vw 56vw 56vw;
	-moz-border-radius: 56vw 56vw 56vw 56vw;
	-webkit-border-radius: 56vw 56vw 56vw 56vw;
	background: white;
	z-index: 3;
}

.Circle3 {
	position: absolute;
	top: 1.5vw;
	left: 38.5vw;
	height: 55vw;
	width: 55vw;
	border-radius: 55vw 55vw 55vw 55vw;
	-moz-border-radius: 55vw 55vw 55vw 55vw;
	-webkit-border-radius: 55vw 55vw 55vw 55vw;
	background: -webkit-radial-gradient(red, #8e4600); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(red, #8e4600); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(red, #8e4600); /* For Firefox 3.6 to 15 */
	background: radial-gradient(red, #8e4600); /* Standard syntax */	z-index: 4;
}

.Circle4 {
	position: absolute;
	top: 26.5vw;
	left: 63.5vw;
	height: 5vw;
	width: 5vw;
	border-radius: 5vw 5vw 5vw 5vw;
	-moz-border-radius: 5vw 5vw 5vw 5vw;
	-webkit-border-radius: 5vw 5vw 5vw 5vw;
	background: white;
	z-index: 4;
}

/* Tablet */
@media (max-width: 600px) {
	body {
		background-color: green;	
	}
}






